/* Navigation bar font */
.navbar-brand {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/heroImage.jpg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    color: #0a0a0a;
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 1px;
    background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #6241e5 79.69%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.hero_desc {
    color: white;
    font-size: 6vw;
    font-weight: 800;
    line-height: 80px;
    text-transform: inherit;
    width: 100%;
}
.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about.btn {
    color: #3b3b3b;
    font-size: 25px;
    text-align: left;
    font-weight: 800;
    border-radius: 15px;
    line-height: 30px;
    text-transform: inherit;
    width: 11%;
    background-color: #ffffff;
}


/* about section image css */
.imageAboutPage {
    width: 100%;
    display: block;
    margin-right: 0;
}

.mt-4.row {
    text-align: justify;
    text-justify: inter-word;
}


/* services section css */
.servicesText.card {
    height: 150px;
    cursor: pointer;
    text-align: justify;
    text-justify: inter-word;
    border-radius: 15px;
  }
.imageKPMG {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 40mm;
}
.imageSamsung {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75mm;
}
.imageMondelez {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 38mm;
}
.imageFMS {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 38mm;
}
.imageJEC {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15mm;
}

.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: #012730;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #012730;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}

/* spacing on all sections */
#about, #experience, #education, #portfolio, #contact {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#contact {
    padding-bottom: 4rem;
}
